/* Navbar Styling */
.navbar {
  background-color: #8d1612;
  transition: background-color 0.3s;
}

.navbar-brand,
.nav-link {
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffcc00;
}

/* Dark Mode Styling */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar.dark-mode {
  background-color: #333333;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-custom-search {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-custom-search:hover {
  background-color: #ff4f41;
  transform: scale(1.05);
}

.btn-custom-search:active {
  background-color: #e54e3c;
}
